*{
    border: 0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}

.Nombre_h1{
    color: #660061;
    padding-bottom: 0.8vw;
    font-family: 'Poppins', sans-serif;
}
.elegir-idioma{
    padding-bottom:0.8vw
}
/*header*/
.navbar{
    width:auto;
    height:5.8vw;
    background-image: url("nav-bar.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
}

footer {
    width:100%;
    height:auto;
    background-image: url("nav-bar.png");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
  }
  
  footer a {
    color: rgb(235, 223, 223);
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: white;
    text-decoration:none;
    border-bottom:1px dotted white;
  }
  