
/*Generales*/
*{
    border: 0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}


/*Pagina inicio*/
.login{
    height: 400px;
    width: 350px;
    background-color: rgba(231, 225, 225, 0.11);
  }
.logoinicio{
    border-radius: 50%;
}
.h1-signin{
    color: white;
}
.fondologin{
    background-image: url(../img/fondoLogIn.webp);
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: inherit;
}
/*Nombre de usuario imprimido en header*/
.Nombre_h1{
    color: aliceblue;
}
/*header*/
.imagen-header{
    box-shadow: 0px 6px 5px rgb(7, 7, 7);
    vertical-align: top;
    object-fit: cover;
    object-position: 0 bottom;
}



/*Main*/
.contenedor{
    max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
main{
    
}
main .informacion p {
    margin-bottom: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.829);
}
main .informacion .titulo{
    padding-top: 35px;
}
/*indice*/
aside{
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height: 100%;
    background-color: rgb(17, 20, 58);
    border-radius: 5px;
    position: sticky;
    top: 25px;
}

aside .titulo{
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(167, 194, 45);
}

aside .indice a{
    display: block;
    margin-bottom: 20px;
    color: rgb(167, 194, 45);
}


/*Footer*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
   
    height: px;
  }
  
 
  
  
  
  footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
  }
  
  footer a {
    color: #999;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }

  /*Intento olas*/
 /*parametros de size de todo en general*/
.cover{
    width: 100%;
    padding-bottom: 450px;
    padding-top: 150px;
    position: relative;
}
  .bg_color{
      width: 300%;
      height: 70%;
      background-color: #660061 ;
      background-repeat: no-repeat;
      /*Position para que aparezca y el 0 para que este pegado al top de la pag*/
      position: absolute;
      top: 0;
  }
  .wave{
      width: 300%;
      height: 70%;
      position: absolute;
      top: 150px;
      left: 0;
      background-image: url('../img/intento.svg');
      background-position: bottom;
  } 
  .w1{
      /*Dura 7segundos sin hacer pausas, infinitamente*/
    animation: w1 7s linear infinite;
  }
  /*animacion desplazamiento dura 7s y que no sea constante e infinito, le agrego opacidad pa que no que se note la animation desplazamiento*/
  .w2{
      /*el -.125 es para darle un delay, fijate cambiarlo*/
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
  }
  /*Uso keyframe para punto de start y end, cuando este en 0% se le asiga un ML de 0, y cuando este en 100, que se desplace -1600px*/
  @keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
/*cuando este al 0 y al 100 se transforme y se desplace en eje Y, en 50 sea mayor*/
@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-25px);
    }

    50%{
        transform: translateY(10px);
    }
    
}
  
