
/*Generales*/
*{
    border: 0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}


/*Pagina inicio*/
.login{
    height: 400px;
    width: 350px;
    background-color: rgba(231, 225, 225, 0.11);
  }
.logoinicio{
    border-radius: 50%;
}
.h1-signin{
    color: white;
}
.fondologin{
    background-image: url(../img/fondoLogIn.webp);
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: inherit;
}
/*Nombre de usuario imprimido en header*/
.Nombre_h1{
    color: aliceblue;
}
/*header*/
.navbar{
    background-color: #660061 ;
    position: sticky;
    top: 0;
}
.imagen-header{
    box-shadow: 0px 6px 5px rgb(7, 7, 7);
    vertical-align: top;
    object-fit: cover;
    object-position: 0 bottom;
}



/*Main*/
.contenedor{
    max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

main .informacion p {
    margin-bottom: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.829);
}
main .informacion .titulo{
    padding-top: 35px;
}
/*indice*/
aside{
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height: 100%;
    background-color: rgb(17, 20, 58);
    border-radius: 5px;
    position: sticky;
    top: 25px;
}

aside .titulo{
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(167, 194, 45);
}

aside .indice a{
    display: block;
    margin-bottom: 20px;
    color: rgb(167, 194, 45);
}


/*Footer*/


  footer {
    *background-color: #660061;
    color: #bbb;
  }
  
  footer a {
    color: rgb(235, 223, 223);
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: white;
    text-decoration:none;
    border-bottom:1px dotted white;
  }
  


  /*Intento olas*/
 /*parametros de size de todo en general*/
 

.cover{
    width: 100%;
    padding-bottom: 120px;
    padding-top: 100px;
    position: relative;
    /*Todo lo que sobrepase el navegador se oculta*/
    overflow: hidden;
}
  .bg_color{
      width: 100%;
      height: 70%;
      background-color: #660061 ;
      /*Position para que aparezca y el 0 para que este pegado al top de la pag*/
      position: absolute;
      top: 0;
  }
  .wave{
      width: 600%;
      height: 70%;
      position: absolute;
      top: 150px;
      left: 0;
      background-image: url('../img/intento.svg');
      background-position: bottom;
  } 
  .w1{
      /*Dura 7segundos sin hacer pausas, infinitamente*/
    animation: w1 10s linear infinite;
  }
  /*animacion desplazamiento dura 7s y que no sea constante e infinito, le agrego opacidad pa que no que se note la animation desplazamiento*/
  .w2{
      /*el -.125 es para darle un delay, fijate cambiarlo*/
    animation: w2 10s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
  }
  /*Uso keyframe para punto de start y end, cuando este en 0% se le asiga un ML de 0, y cuando este en 100, que se desplace -1600px*/
  @keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
/*cuando este al 0 y al 100 se transforme y se desplace en eje Y, en 50 sea mayor*/
@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-15px);
    }

    50%{
        transform: translateY(15px);
    }
    
}
/*footer wave*/
.cover_footer{
    width: 100%;
    padding-bottom: 120px;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}
.bg_footer{
    width: 100%;
    height: 70%;
    *background-color: #660061 ;
    position: absolute;
    top: 0;
}
.wave_footer{
    width: 600%;
    height: 70%;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url('../img/drawing.svg');
    background-position: top;
} 

.w1_footer{
    
  animation: w1 10s linear infinite;
}

.w2_footer{
    
  animation: w2 10s linear -.125s infinite, desplazamiento_footer 7s ease -.125s infinite;
  opacity: 0.5;
}

@keyframes w1_footer {
  0%{
      margin-left: 0;
  }
  100%{
      margin-left: -1600px;
  }
}

@keyframes w2_footer {
  0%{
      margin-left: 0;
  }
  100%{
      margin-left: -1600px;
  }
}
/*cuando este al 0 y al 100 se transforme y se desplace en eje Y, en 50 sea mayor*/
@keyframes desplazamiento_footer {
  0%, 100%{
      transform: translateY(5px);
  }

  50%{
      transform: translateY(-15px);
  }
  
}
/*Pruebas poner cosas sobre wave*/
.caja{
    position: relative;
}

.imagenmain{
    border-radius: 50%;
    
}

.h3_main{
    
    color: white;
}
.p_main{
    color: white;
}