
/*Generales*/
*{
    border: 0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}


/*Pagina inicio*/
.login{
    height: 400px;
    width: 350px;
    background-color: rgb(255, 255, 255, 1.0);
    border-radius:5.5%;
  }
.logoinicio{
    border-radius: 50%;
}
.h1-signin{
    color: #001E3D;
}
.fondologin{
    background-image: url(../img/log-in\(just-background\).png);
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: inherit;
}

.boton-login{
    background-color:#0058b0;
}
.boton-login:hover{
    background-color:#001E3D;
   
}

/*Nombre de usuario imprimido en header*/
.Nombre_h1{
    color: aliceblue;
}
/*header*/
.imagen-header{
    box-shadow: 0px 6px 5px rgb(7, 7, 7);
    vertical-align: top;
    object-fit: cover;
    object-position: 0 bottom;
}



/*Main*/
.contenedor{
    max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
main{
    
}
main .informacion p {
    margin-bottom: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.829);
}
main .informacion .titulo{
    padding-top: 35px;
}
/*indice*/
aside{
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height: 100%;
    background-color: rgb(17, 20, 58);
    border-radius: 5px;
    position: sticky;
    top: 25px;
}

aside .titulo{
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(167, 194, 45);
}

aside .indice a{
    display: block;
    margin-bottom: 20px;
    color: rgb(167, 194, 45);
}


/*Footer*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
   
    height: px;
  }
  
 
  
  
  
  footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
  }
  
  footer a {
    color: #999;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }
  
